
   .center-block {
     margin-left:auto;
     margin-right:auto;
     display:center;
   }

   .text-center {
     text-align:center
   }

.alert {
  width:70%;
  height:10px
}

.col-xs-3 {
  width: 25%;
  padding: 0!important;
}

.col-xs-2 {
  width: 16.66666667%;
  padding: 0!important;
}

.offer-detail-image {
   display: block;
   overflow: visible;
   width: 100%;
   height: auto;
   margin-right: auto;
   margin-bottom: 12px;
   margin-left: auto;
   float: none;
}

.autocomletedemoCustomTemplate .autocomplete-custom-template li {
   border-bottom: 1px solid #ccc;
   height: auto;
   padding-top: 8px;
   padding-bottom: 8px;
   white-space: normal; }

.autocompletedemoCustomTemplate .autocomplete-custom-template li:last-child {
   border-bottom-width: 0; }

.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title,
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-metadata {
   display: block;
   line-height: 2; }

.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title md-icon {
   height: 18px;
   width: 18px; }