
   .center-block {
     margin-left:auto;
     margin-right:auto;
     display:center;
   }

   .text-center {
     text-align:center
   }

.alert {
  width:70%;
  height:10px
}

.col-xs-3 {
  width: 25%;
  padding: 0!important;
}

.col-xs-2 {
  width: 16.66666667%;
  padding: 0!important;
}